{% extends 'base.html.twig' %}

{% block forgottenPassword %}
    <br/>

    <div class="col-lg-10 offset-lg-1">
        <div class="container">
            <h1>Mot de passe oublié</h1>
        </div>
    </div>

    <br/>

    <div class="col-lg-4 offset-lg-4">
        <div class="card card-forgetPassword">
            <div class="card-body">
                <div class="container">
                    <h4 class="card-title">
                        Demande de nouveau mot de passe
                    </h4>
                    {{ form_start(form) }}
                    <div class="mb-4">
                        {{ form_errors(form) }}
                    </div>
                    <div class="mb-4">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="offset-lg-8">
                        <button class="btn btn-login" type="submit">Envoyer la demande</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <br/>
{% endblock %}