{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-4">
            <h1>Hello World !</h1>
            <p>Bienvenue sur le blog de recette, ici, vous pourrez consulter, créer différentes recettes et laisser des commentaires.</p>
            <p>Belle journée et profitez de nos succulentes recettes !</p>
        </div>
    </div>
{% endblock %}


