{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-4">
            <h1>{{ recipe.title }}</h1>
            <small>Publié le {{ recipe.publishedAt|date("d/m/Y") }}</small>
            <p>{{ recipe.content }}</p>
        </div>
    </div>
{% endblock %}


