<html>
    <body>

        Formulaire :
        <br/>

        {{ form_start(form) }}

            {{ form_row(form.proportion) }}
            {{ form_row(form.name) }}

            <button type="submit">Ajouter l'ingrédient</button>

        {{ form_end(form)}}


    </body>
</html>
